
div.jumbotron.opening(g="centered column")

	section(g="centered")
		div(g="12")
			img(src="/img/logo.png" g="centered" height="175")
		div(g="12")
			p(g="centered lg-container" class="tagline") Galaxy is the modern UI framework for building lightweight apps.

		a(href="https://github.com/Magmoz/galaxy/archive/master.zip" g="centered")
			button.cta(g="large") Download Galaxy

	ul.github-buttons(g="centered")
		li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-star" data-style="mega" data-count-href="/Magmoz/galaxy/stargazers" data-count-api="/repos/Magmoz/galaxy#stargazers_count">Star</a>
		li <a class="github-button" href="https://github.com/Magmoz/galaxy" data-icon="octicon-git-branch" data-style="mega" data-count-href="/Magmoz/galaxy/network" data-count-api="/repos/Magmoz/galaxy#forks_count">Fork</a>
			

div(g="centered" style="padding-top: 5em;")
	div(g="centered md-container")
		h1(g="centered 12 section") Made to lower design boundaries
		p Galaxy removes the frustration and hacks out of front-end, like positioning elements, styling component layers, and state-toggling.

	hr
	section(g="xlg-container")
		div(g="4 md-12")
			object(data="/img/markup.svg")
			h3 Markup first
			p Using the g attribute allows semantic markup without limitations. You'll never have to touch CSS again.
		div(g="4 md-12")
			object(data="/img/preprocessors.svg")
			h3 Natively fast
			p With <a href="">Galaxy.js</a>, components and their state animations perform purely on CSS. 
		div(g="4 md-12")
			object(data="/img/responsiveness.svg")
			h3 Galaxy Grid
			p Since Galaxy Grid was made with Flexbox, building layouts are really easy and hack free.
	section(g="centered lg-container")
		h1 A production ready framework
		p Galaxy uses the most up

	hr
	section(g="centered lg-container")
		div(g="6 md-12")
			h1(style="text-shadow: none") Get Started Docs
			p Read the <a href="/get-started">quick guide</a>. It's quick and will get you up and building components and creating state interactions in no time.
			a(href="/get-started") &#8594; Learn your Galaxy foundations
		div(g="6 md-12")
			h1 Check out components
			p From prototypes to advanced layouts, the Galaxy docs is an interactive documentation showcasing all the components you'll need (without the clutter).
			a(g="centered", href="/components") &#8594; Meet the components