[g~="inline-block"] {
	display: inline-block !important;
}

[g~="inline"] {
	display: inline !important;
}

[g~="block"] {
	display: block !important;
}

/* Padding */

[g~="xsm-padding"] {
	padding: .5rem
}

[g~='sm-padding'] {
	padding: 1rem;
}

[g~='md-padding'] {
	padding: 2rem;
}

[g~='lg-padding'] {
	padding: 3rem;
}

[g~="xlg-padding"] {
	padding: 4rem
}

[g~="fixed"] {
	position: fixed;
}

/* Size */

// Float

[g~="centered"] {
	@include center;
}

[g~="left"] {
	text-align: left;
	justify-content: start;
}

[g~="right"] {
	text-align: right;
	justify-content: end;

}