/* -- COLOR */

$dark-shadow: #ddd;
$light-shadow: #eee;

$nav-color: #39205F;
$footer-background: #000000;

$brand-color: #43A6EB;

$default-color: #F2F2F2;
$primary-color: #2CA3DF;
$success-color: #C1D82F;
$warning-color: #FBB034;
$danger-color: #BD2C00;

$light-default-color: #F2F2F2;
$light-primary-color: #EBF7FD;
$light-success-color: #F2FAE3;
$light-warning-color: #FFFCEB;
$light-danger-color: #FFF1F0;

/* --- BORDERS */

$sm-border-radius: 0.15em;
$md-border-radius: 0.3em;
$lg-border-radius: 0.6em;
$rounded: 50%;

@mixin border-radius($amount) {
	border-radius: $md-border-radius;
}

@mixin dark-border {
	border: #ccc 1px solid;
	@include border-radius($md-border-radius);
}

@mixin light-border {
	border: #eee 1px solid;
	@include border-radius($md-border-radius);
}

/* --- BREAKPOINTS */

$xlg-breakpoint: 1440px;
$lg-breakpoint: 970px;
$md-breakpoint: 767px;
$sm-breakpoint: 448px;
$xsm-breakpoint: 259px;

/* --- TRANSPARENCY */

$high-opacity: 0.7;
$md-opacity: 0.8;
$low-opacity: 0.9;

/* --- PADDING & MARGIN */

$sm-padding: 0.5em;
$md-padding: 1em;
$lg-padding: 2em;

$sm-margin: 0.5em;
$md-margin: 1em;
$lg-margin: 1.5em;

/* --- TYPOGRAPHY */

$monospace: "'Source Code Pro', monospace";

/* --- GRID */

@mixin center {
	align-items: center;
	align-self: center;
	justify-content: center;
	text-align: center;
}

@mixin display($value) {
	display: $value;
}

@mixin align-items($value) {
	align-items: $value;
}

@mixin flex-direction($value) {
	flex-direction: $value;
}

@mixin flex-wrap($value: "wrap") {
	flex-wrap: wrap;
}

@mixin flex-basis($size) {
	flex-basis: $size;
}

@mixin order($order) {
	order: $order;
}

@mixin justify-content($value) {
	justify-content: $value;
	@if $value == centered {
		margin: auto;
		text-align: center;
	}
}

@mixin align-items($value) {
	align-items: $value;
}

/* ANIMATE */

@mixin transition($transition) {
	transition: $transition;
}

@mixin fade($duration: 0.2s) {
	@include transition(opacity $duration linear, visibility $duration linear);
}

@mixin transform($string) {
	transform: $string;
}

@mixin button-colors($button-color) {
	border-color: darken($button-color, 10);
	background: $button-color;
	color: lighten(contrast-color($button-color), 50);
}

@function contrast-border($bg-color) {
	@if lightness($bg-color) > 90 {
		@return #eeeeee;
	}
	@else if lightness($bg-color) > 80 {
		@return #dddddd;
	}
	@else if lightness($bg-color) > 50 {
		@return #cccccc;
	}
	@else {
		@return black;
	}
}

@function contrast-color($bg-color) {
	@if lightness($bg-color) > 90 {
		@return black;
	}
	@else {
		@return white;
	}
}

@mixin alert-color($color) {
	color: darken($color, 50);
	background: $color;
	border: darken($color, 25) 1px solid;
}

/* --- MISC */

@mixin border-box {
	box-sizing: border-box;
}

@mixin no-appearance {
	appearance: none;
}