/*___ GALAXY GRID (non-flex) */

//___ MIXINS
@mixin grid_columns {
    @for $i from 1 through 12 {
        $size: ($i/12) * 100%;
        [g~="#{$i}"] {
            width: $size;
            float: left;
        }
    }
}

@mixin grid_offset {
    @for $i from 1 through 12 {
        $size: ($i/12) * 100%;
        .demo.active [g~="offset-#{$i}"] {
            margin-left: $size;
        }
    }
}

//___ MIXINS

body {
    min-height: 100vh;
}

section {
    @include border-box;
    max-width: 100%;
    display: block;
}

[g] {
    @include border-box;
}

// -- COLUMNS
@include grid_columns;
@include grid_offset;


// -- CONTAINERS
[g~="xlg-container"] {
    max-width: $xlg-breakpoint;
}

[g~='lg-container'] {
    max-width: $lg-breakpoint;
}

[g~='md-container'] {
    max-width: $md-breakpoint;
}

[g~='sm-container'] {
    max-width: $sm-breakpoint;
}

[g~='xsm-container'] {
    max-width: $xsm-breakpoint;
}