@import "misc/alerts";
@import "misc/modals";

label:not([for]) {
	display: inline;
	padding: .6em 1em .6em;
	font-size: .95em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $md-border-radius;
}