@import "misc/alerts";
@import "misc/modals";
@import "misc/typography";

label:not([for]) {
    padding: .6rem 1rem .6rem;
    font-size: .95rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $md-border-radius;
    & sup {
        padding: .6rem .6rem 0 .5rem;
    }
}


table {
    color: #000;
    & thead th, tbody td {
        padding: .5em;
        border-bottom: 1px solid $light-shadow;
    }
    &[g~="hover"] > tbody > tr:hover {
        background: $light-shadow;
    }
}
