/* Header should wrap content */

header {
	top: 0;
	margin: 0;
	position: relative;
	opacity: 1;
	background-color: $nav-color;
	color: darken(contrast-color($nav-color), 50);
	width: 100%;
	z-index: 1;
	display: inline-flex;
	transition: .5s;
	
	

	a[g~="toggle"] {
		display: none;
		cursor: pointer;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.5em;
	}

	nav {
		display: inline-flex;
		transition: .5s cubic-bezier(0, 1, 0.5, 1) all;
			ul {
				@include align-items(center);
				margin: 0;
				padding-left: 0;

			li {
				justify-content: center;
				line-height: 5em;
				color: darken(contrast-color($nav-color), 10);
				font-weight: bold;
			}
		}
	}

	& a {
		text-decoration: none;
		padding: 1em 1.5em;
		transition: .3s;
		color: darken(contrast-color($nav-color), 10);
		&:hover:not([g~="active"]) {
		@if (lightness($nav-color) > 50) {
				/* Lighter navs should have darker feedback */
				color: darken(contrast-color($nav-color), 10);
			} @else {
				/* Darker navs should have brighter feedback */
				color: lighten(contrast-color($nav-color), 10);
			}
		}
		&[g~="active"], [g~="active"]:hover, [g~="active"]:active {
			color: contrast-color($nav-color);
			opacity: 1;
		}
	}

	&[g~="fixed"] {
		position: fixed;
	}

	& img.logo {
		height: 3em;
		width: auto;
		vertical-align: middle;
	}
}

@media screen and (max-width: $md-breakpoint){
	header {

		& a.logo {
			margin: auto;
		}
		nav {
			display: block;
			height: 0;
			transition: cubic-bezier(0, 1, 0.5, 1) .5s all;
			overflow: hidden;
		}
		a[g~="toggle"] {
			display: flex;
		}

		&.expanded {
			nav {
				height: 15em;
			}
			a.logo {
				margin: 0;
			}
		}

	}
}

footer {
	width: 100%;
	margin-top: 3em;
	padding: 1em;
	text-align: center;
	border-top: lighten(contrast-color($footer-background), 90) 1px solid;
	color: darken(contrast-color($footer-background), 20);
	background: $footer-background;
	line-height: 0;

	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	& ul {
		display: inline-flex;
		padding-top: $md-padding;
	}
}

/* Drop down */

[g~='caret'] {
	width: 0;
	height: 0;
	margin-top: -4px;
	margin-right: 0;
	margin-left: 7px;
	vertical-align: middle;
	border-top: 6px solid #717d82;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

nav[g~='grouped'] > ul {
	font-size: 13px;
	position: absolute;
	float: left;
	min-width: 7em;
	margin: 15px 0 0;
	padding: 10px 0;
	border: 1px solid #c1cbd2;
	border-radius: 3px;
	background: #fff;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 2px rgba(113, 125, 130, .1);
	box-shadow: 0 1px 2px rgba(113, 125, 130, .1);
	& > li {
		line-height: 1.4;
		clear: both;
		padding: 6px 20px;
		cursor: pointer;
		white-space: nowrap;
		opacity: .8;
	}
}

@media screen and (min-width: $md-breakpoint) {
	header {
		& ul {
			display: flex;
		}
		& a[g~="toggle"] {
			display: none;
		}
		> ul {
			padding-left: 0;
			li:first-child {
				position: absolute;
				left: 5em;
				padding: 0;
			}
		}
	}
}