.modal, .modal_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: .2s all ease-in;
    &.active {
        margin-top: 10vh;
        visibility: visible;
        filter: none;
        opacity: 1;
        z-index: 100;
    }

    & .footer {
        border-top: $dark-shadow 1px solid;
        display: flex;
        width: 50%;
        position: fixed;
        // margin-top: 1em;
        bottom: 0;
        padding: 1em 0;
        background: #FFF;
    }

    & .content {
        // margin-bottom: 15em;
        padding: 0 1em;
        margin-bottom: 3em;
    }
    & .header {
        text-align: center;
        background: #fff;
        & > * {
            padding: 1em;
        }
        &[g~="fixed"] {
            width: 50%;
            position: fixed;
            background: #fff;
        }
    }
}



.modal_bg {
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s all ease-in;
    .active & {
        opacity: 1;
    }
}



.modal_box {
    width: 50%;
    height: auto;
    border: $sm-border-radius solid $light-shadow;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: .5s all ease-in;
    overflow: scroll;
    text-align: left;
    .active & {
        top: 0;
    }
}

