title Galaxy
meta(name="description" content="The front-end framework based on conversational language.")
link(rel="icon" href="/img/favicon.png")
link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/white/pace-theme-minimal.css")
link(rel="stylesheet" href="/galaxy/galaxy.css")
link(rel="stylesheet" href="/css/docs.css")
link(rel="stylesheet" href="/css/home.css")
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")